server:
  port: ${SERVER_PORT:8070}
  shutdown: graceful

spring:
  application:
    name: branchdown
  # datasource: bootTestRun 시 Testcontainers가 자동 설정
  cloud:
    consul:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        '[show_sql]': true
        '[format_sql]': true
        '[default_batch_fetch_size]': 16
        time-zone: ${TZ:Asia/Seoul}
    open-in-view: false

management:
  server:
    port: ${MANAGEMENT_PORT:8071}

springdoc:
  swagger-ui:
    path: /docs
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs

logging:
  level:
    root: INFO
    me:
      hanju:
        branchdown: DEBUG
    org:
      hibernate:
        orm:
          jdbc:
            bind: TRACE
  pattern:
    console: '%d{yyyy-MM-dd HH:mm:ss} - %msg%n'
