server:
  port: 8083

spring:
  cloud:
    consul:
      enabled: ${CONSUL_ENABLED:false}
      host: ${CONSUL_HOST}
      port: ${CONSUL_PORT}
      discovery:
        service-name: branchdown
        health-check-path: /actuator/health
        health-check-interval: 10s
  datasource:
    url: ${MARIADB_URL:jdbc:mariadb://mariadb:3306/branchdown_db}
    username: ${MARIADB_USER}
    password: ${MARIADB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        '[show_sql]': false
        '[format_sql]': false

management:
  server:
    port: 8084
  endpoints:
    web:
      exposure:
        include: health,info,metrics
        exclude: heapdump,threaddump,env,configprops
  endpoint:
    health:
      show-details: when-authorized

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

logging:
  level:
    root: WARN
    me:
      hanju:
        branchdown: INFO
    org:
      hibernate:
        orm:
          jdbc:
            bind: WARN
  file:
    name: /var/log/branchdown/application.log
    max-size: 100MB
    max-history: 30
  pattern:
    file: '%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n'
    console: '%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n'
